@using ErtisAuth.Hub.Helpers
@model ErtisAuth.Hub.ViewModels.Tests.CheckPermissionTestsViewModel

@{
    ViewData["Title"] = "Tests";
}

<div class="toolbar" id="kt_toolbar">
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Tests</h1>
			<span class="h-20px border-gray-200 border-start mx-4"></span>
			
			@{
				var breadcrumb = BreadcrumbBuilder
					.Add("Home", "Index", "Home")
					.Add("Tests", "CheckPermissionTests", "Tests")
					.Add("Check Permission Tests", "CheckPermissionTests", "Tests");
			}
			
			<partial name="Partials/_Breadcrumb" model="@breadcrumb"/>
		</div>
		
		<div class="d-flex align-items-center py-1">
			
		</div>
	</div>
</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
	<div id="kt_content_container" class="container-fluid">
		<partial name="Partials/_AlertBox" model="Model" />
		
		<div class="card">
			<div class="card-header border-0 pt-6">
				<div class="card-title">
					
				</div>

				<div class="card-toolbar">
					<span>@Model.TotalTime.TotalMilliseconds milliseconds</span>
				</div>
			</div>

			<div class="card-body pt-0">
				@if (Model.Results != null && Model.Results.Any())
				{
					<table class="table table-rounded border gy-3 gs-7">
						<thead>
						<tr class="fw-bold fs-6 text-gray-800 border-bottom-2 border-gray-200">
							<th>Subject</th>
							<th>Resource</th>
							<th>Action</th>
							<th>Object</th>
							<th>Result</th>
						</tr>
						</thead>
					
						<tbody>
						<style>
							.permitted {
								background: lime !important;
							}
							.forbidden {
								background: red !important;
							}
							.unknown {
								background: darkgrey !important;
							}
							tr {
								border-bottom: 1px solid #e1e2e3 !important;
							}
						</style>
						
						@foreach (var result in Model.Results)
						{
							<tr>
								<td>@result.Rbac.Subject</td>
								<td>@result.Rbac.Resource</td>
								<td>@result.Rbac.Action</td>
								<td>@result.Rbac.Object</td>
								@if (result.IsPermitted != null)
								{
									if (result.IsPermitted.Value)
									{
										<td class="permitted">Permitted</td>
									}
									else
									{
										<td class="forbidden">Forbidden</td>
									}
								}
								else
								{
									<td class="unknown">Unknown</td>
								}
							</tr>
						}
						</tbody>
					</table>	
				}
			</div>
		</div>
	</div>
</div>