@using ErtisAuth.Hub.Helpers
@model ErtisAuth.Hub.ViewModels.Auth.LoginViewModel

@{
    Layout = null;
	ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<base href="">
    <title>ErtisAuth - @ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="description" content="ErtisAuth Hub" />
    <meta name="keywords" content="Ertis, ErtisAuth" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

    @Html.Raw(HtmlTag.Css("lib/bootstrap-icons/bootstrap-icons.css"))
    @Html.Raw(HtmlTag.Css("css/plugins.bundle.css"))
    @Html.Raw(HtmlTag.Css("css/style.bundle.css"))
    @Html.Raw(HtmlTag.Css("css/site.css"))
    
    @Html.Raw(HtmlTag.Css("lib/huro/css/app.css"))
	@Html.Raw(HtmlTag.Css("lib/huro/css/main.css"))
</head>

<body id="kt_body" class="bg-dark">
	<div id="huro-app" class="app-wrapper">
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        <div class="auth-wrapper">
            <div class="modern-login">
                <div class="columns is-gapless is-vcentered">
                    <div class="column is-6 is-relative">
                        <div class="top-logo">
                            <img class="light-image" src="img/logo.svg" alt="">
                        </div>

                        <div style="display: flex; width: 100%; max-width: 480px; margin: 0 auto; justify-content: center; text-align: center; font-size: 21px;">
                            <span style="font-weight: bolder;">ERTIS</span>
                            <span style="font-weight: lighter;">AUTH</span>
                        </div>
                                            
                        <div class="is-form">
                            <div class="hero-body" style="padding-top: 10px !important;">
                                <form id="login-form" class="form w-100" novalidate="novalidate" asp-controller="Auth" asp-action="Login" method="post">
                                    @{
                                        var returnUrl = string.Empty;
                                        if (Context.Request.Query.ContainsKey("return"))
                                        {
                                            returnUrl = Context.Request.Query["return"];
                                        }
                                    }
                                
                                    @Html.HiddenFor(x => x.ClientIP, new { id = "ipAddressHiddenInput" })
                                    @Html.HiddenFor(x => x.UserAgentRaw, new { id = "userAgentRawHiddenInput" })
                                    @Html.HiddenFor(x => x.ServerUrl, new { id = "ServerUrlHiddenInput" })
                                    @Html.HiddenFor(x => x.MembershipId, new { id = "MembershipIdHiddenInput" })
                                    @Html.HiddenFor(x => x.ReturnUrl, new { value=returnUrl })
                                                        
                                    <div class="mb-15">
                                        <partial name="Partials/_AlertBox" model="Model" />
                                    </div>
                    
                                    <div id="mainPanel" class="card-inner">
                                        <div id="loginPanel">
                                            <div class="field form-group m-b-10">
                                                <label style="width: 100%; text-align: center; line-height: 20px;">Select a server</label>
                                            </div>

                                            <div class="field form-group">
                                                <div class="control has-icons-left">
                                                    <div class="select" style="width: 100%; height: 38px;">
                                                        <select id="serversDropdown" style="width: 100%; padding-left: 3em; height: inherit;">
                                                            <option value="" disabled selected>Select a server</option>
                                                        </select>
                                                    </div>
                                                    <div class="icon is-small is-left" style="margin: 2px 0 0 4px;">
                                                        <i class="fas fa-server"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field form-group">
                                                <label style="width: 100%; text-align: center; line-height: 20px;">or</label>
                                            </div>

                                            <div class="field form-group">
                                                <button id="connectServerButton" type="button" class="button h-button is-big is-primary is-outlined is-bold is-raised"
                                                        style="width: 100%; font-size: 0.9rem; height: 41px; border: 1px dashed #671cc9;">
                                                    <i class="fa fa-plug" style="font-size: 1.2rem; margin-right: 7px;"></i>
                                                    Connect a server
                                                </button>
                                            </div>

                                            <hr class="m-t-30 m-b-30" />

                                            <div id="signInPanel">
                                                <div class="field form-group m-b-20">
                                                    <label class="form-label">Username or email</label>
                                                    <div class="control has-icon has-validation">
                                                        <input type="text" class="input form-control" placeholder="Username" autocomplete="off" asp-for="Username">
                                                        <div class="form-icon">
                                                            <i class="bi bi-person"></i>
                                                        </div>
                                                    </div>
                                                    <span class="validation-error-span" asp-validation-for="Username"></span>
                                                </div>

                                                <div class="field form-group">
                                                    <label class="form-label">Password</label>
                                                    <div class="control has-icon has-validation">
                                                        <input type="password" class="input form-control" placeholder="Password" autocomplete="off" asp-for="Password">
                                                        <div class="form-icon">
                                                            <i class="bi bi-unlock"></i>
                                                        </div>
                                                    </div>
                                                    <span class="validation-error-span" asp-validation-for="Password"></span>
                                                </div>

                                                <div class="m-t-40">
                                                    <button id="login-submit" type="submit" class="button h-button is-big is-primary is-bold is-raised" style="width: 100%;">Login</button>
                                                </div>

                                                <div class="m-t-20" style="display: flex; justify-content: center;">
                                                    <a id="forgotPasswordButton" href="#">Forgot password?</a>
                                                </div>

                                                <div class="m-t-10" style="display: flex; justify-content: center;">
                                                    <a id="manageServersButton" href="#">Manage servers</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                                <div id="connectNewServerPanel">
                                    <h2 class="title is-5 is-narrow muted-grey m-b-15" style="text-align: center;">Connect to server</h2>
                                                                            
                                    <div class="field form-group m-b-20">
                                        <label class="form-label">Server</label>
                                        <div style="display: flex; align-items: center; justify-content: space-between;">
                                            <div style="width: 100%;">
                                                <div class="control has-icon has-validation">
                                                    <input id="serverUrlInput" type="url" class="input form-control" placeholder="Server Url" autocomplete="off">
                                                    <div class="form-icon">
                                                        <i class="bi bi-hdd-network"></i>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div style="margin-left: 6px;">
                                                <button id="connectButton" type="button" class="button h-action is-hoverable is-elevated" style="height: 38px;"> Connect</button>
                                            </div>
                                        </div>
                                        <span id="serverConnectionErrorSpan" class="validation-error-span"></span>
                                    </div>
                                
                                    <div id="membershipSelectionContainer" class="field form-group m-b-30">
                                        <label class="form-label">Membership</label>
                                        <div class="field">
                                            <div class="control has-icons-left">
                                                <div class="select" style="width: 100%; height: 38px;">
                                                    <select id="membershipsDropdown" style="width: 100%; padding-left: 3em; height: inherit;">
                                                                                                
                                                    </select>
                                                </div>
                                                <div class="icon is-small is-left" style="margin: 2px 0 0 4px;">
                                                    <i class="fas fa-home"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="field form-group m-b-20">
                                        <div class="row">
                                            <div class="col">
                                                <button id="connectNewServer_CancelButton" type="button" class="button is-light w-100">Cancel</button>
                                            </div>
                                            <div class="col">
                                                <button id="connectNewServer_SaveButton" type="button" class="button is-primary is-outlined is-hoverable w-100">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="manageServersPanel" class="card-inner">
                                    <h2 class="title is-5 is-narrow muted-grey m-b-15" style="text-align: center;">Manage Servers</h2>
                                
                                    <div>
                                        <div id="manageServersTable" class="flex-table">
                                                                                
                                        </div>
                                    </div>
                                
                                    <div class="field form-group m-t-20 m-b-20">
                                        <button id="manageServers_ReturnButton" type="button" class="button h-button w-100">
                                            <span class="icon">
                                                <i class="bi bi-arrow-counterclockwise" style="font-size: 1.2rem; color: #000000; margin-top: 2px;"></i>
                                            </span>
                                            <span>Return</span>
                                        </button>
                                    </div>
                                </div>

                                <div id="forgotPasswordPanel">
                                    <h2 class="title is-5 is-narrow muted-grey m-b-15" style="text-align: center;">Forgot Password ?</h2>
                                
                                    <span>Please enter your email to reset your password. We will send you a secure link to change your password.</span>
                                
                                    <div class="field form-group m-t-30 m-b-20">
                                        <label class="form-label">Email Address</label>
                                        <div class="control has-icon has-validation">
                                            <input id="forgotPasswordEmailInput" type="email" class="input form-control" placeholder="Email Address" autocomplete="off">
                                            <div class="form-icon">
                                                <i class="bi bi-at"></i>
                                            </div>
                                        </div>
                                        <span id="forgotPasswordErrorSpan" class="validation-error-span"></span>
                                        <span id="forgotPasswordSuccessSpan" class="validation-error-span" style="color: green !important;"></span>
                                    </div>
                                
                                    <div class="field form-group m-b-20">
                                        <div class="row">
                                            <div class="col">
                                                <button id="forgotPassword_CancelButton" type="button" class="button is-light w-100">Cancel</button>
                                            </div>
                                            <div class="col">
                                                <button id="forgotPassword_SubmitButton" type="button" class="button is-primary is-outlined is-hoverable w-100">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="m-t-50" style="display: flex; flex-direction: column; align-items: center; justify-content: center; color: #999999; font-size: 11px;">
                                    <span>ERTIS INC</span>
                                    <span>Copyright © @DateTime.Now.Year</span>
                                    <span>Version @Program.GetEnvironmentParameter("Version")</span>
                                </div>
                            </div>
                        </div>

                        <style>
                            .footer-bar {
                                position: fixed;
                                bottom: 0;
                                width: 50%;
                                background: #f6f6f6;
                                border-top: 1px solid #e3e3e3;
                                padding: 7px 10px 3px 10px;
                            }

                            .badges-container {
                                display: flex; 
                                float: right;
                            }

                            .ert-badge {
                                display: flex; 
                                margin-bottom: 0 !important;
                            }

                            .ert-badge:not(:last-child) {
                                margin-right: 8px;
                            }

                            .ert-badge>.tag {
                                line-height: 23px !important;
                                border: 1px solid #dcdcdc;
                                border-right: 0;
                            }
                        </style>

                        <div class="footer-bar">
                            <div class="badges-container">
                                <div class="tags has-addons ert-badge">
                                    <span class="tag">Build Version</span>
                                    <span class="tag is-solid">@Program.GetEnvironmentParameter("Version")</span>
                                </div>
                                <div class="tags has-addons ert-badge">
                                    <span class="tag">Last Build</span>
                                    <span class="tag is-solid">@Program.GetEnvironmentParameter("BuildTime")</span>
                                </div>
                                <div class="tags has-addons ert-badge">
                                    <span class="tag">Environment</span>
                                    <span class="tag is-solid">@Program.GetEnvironmentParameter("Environment")</span>
                                </div>
                                <div class="tags has-addons ert-badge">
                                    <span class="tag">IP</span>
                                    <span id="ipAddressSpan" class="tag is-solid">@Program.GetEnvironmentParameter("Environment")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column is-relative is-6 h-hidden-mobile h-hidden-tablet-p" style="border-left: 1px solid #80808055; background: rgb(247,248,249); background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(247,248,249,1) 100%);">
                        <div class="hero is-fullheight is-image">
                            <div class="hero-body">
                                <img src="img/cms-illustration.png" alt="" style="padding: 10px 85px 130px 10px; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <partial name="_Scripts" />
    
    @Html.Raw(HtmlTag.Js("lib/huro/js/app.js"))
    @Html.Raw(HtmlTag.Js("lib/huro/js/functions.js"))
    @Html.Raw(HtmlTag.Js("lib/huro/js/main.js"))
    @Html.Raw(HtmlTag.Js("js/authentication/webrtc.js"))
    @Html.Raw(HtmlTag.Js("js/authentication/user-agent-parser.js"))
    @Html.Raw(HtmlTag.Js("lib/jquery-validation/dist/jquery.validate.js"))
    @Html.Raw(HtmlTag.Js("lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"))
    @Html.Raw(HtmlTag.Js("js/authentication/server.js"))
    @Html.Raw(HtmlTag.Js("js/authentication/login.js"))
</body>
</html>