@using ErtisAuth.Hub.Helpers
@model ErtisAuth.Hub.ViewModels.Auth.ResetPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<base href="">
    <title>ErtisAuth - @ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="description" content="ErtisAuth Hub" />
    <meta name="keywords" content="Ertis, ErtisAuth" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

    @Html.Raw(HtmlTag.Css("lib/bootstrap-icons/bootstrap-icons.css"))
    @Html.Raw(HtmlTag.Css("css/plugins.bundle.css"))
    @Html.Raw(HtmlTag.Css("css/style.bundle.css"))
    @Html.Raw(HtmlTag.Css("css/site.css"))
    
    @Html.Raw(HtmlTag.Css("lib/huro/css/app.css"))
	@Html.Raw(HtmlTag.Css("lib/huro/css/main.css"))
    
    <style>
        .top-logo {
            top: -70px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            z-index: 1;
        }
        
        .top-logo > img {
            display: inline-block;
            width: 100%;
            max-width: 50px;
            margin: 0 auto;
        }
    </style>
</head>

<body id="kt_body" class="bg-dark">
	<div id="huro-app" class="app-wrapper" style="height: 100%;">
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        <div class="auth-wrapper" style="padding: 150px 0;">
            <div style="max-width: 400px; margin: auto;">
                <div class="is-gapless is-vcentered">
                    <div class="is-relative">
                        <div class="top-logo">
                            <img class="light-image" src="img/logo.svg" alt="">
                        </div>

                        <div style="display: flex; width: 100%; max-width: 480px; margin: 0 auto; justify-content: center; text-align: center; font-size: 21px;">
                            <span style="font-weight: bolder;">ERTIS</span>
                            <span style="font-weight: lighter;">AUTH</span>
                        </div>
                                            
                        <div class="is-form">
                            <div class="hero-body" style="padding-top: 40px !important;">
                                @if (Model.IsValid())
                                {
                                    <form id="set-password-form" class="form w-100" novalidate="novalidate" asp-controller="Auth" asp-action="SetPassword" method="post">
                                        @Html.HiddenFor(x => x.EmailAddress)
                                        @Html.HiddenFor(x => x.ServerUrl)
                                        @Html.HiddenFor(x => x.SecretKey)
                                        @Html.HiddenFor(x => x.ResetPasswordToken)
                                        @Html.HiddenFor(x => x.MembershipId)

                                        <div class="field form-group m-b-30">
                                            <h2 class="title is-5 is-narrow muted-grey m-b-15" style="text-align: center;">Change Password</h2>
                                        </div>

                                        @if (Model.IsSuccess != null)
                                        {
                                            <div class="m-b-40">
                                                @if (Model.IsSuccess.Value)
                                                {
                                                    <div class="alert d-flex flex-column flex-sm-row w-100 border border-dashed border-success bg-light-success" style="padding: 1.0rem 1.25rem 1.0rem 1.25rem !important">
                                                        <div class="d-flex vertical-center-flex">
                                                            <span class="svg-icon svg-icon-success">
                                                                @Html.Raw(SvgIcons.Success)
                                                            </span>

                                                            <h5 class="m-l-15" style="font-weight: bold;">@Model.SuccessMessage</h5>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="alert d-flex flex-column flex-sm-row w-100 border border-dashed border-danger bg-light-danger" style="padding: 1.0rem 1.25rem 1.0rem 1.25rem !important">
                                                        <div class="d-flex vertical-center-flex">
                                                            <span class="svg-icon svg-icon-danger">
                                                                @Html.Raw(SvgIcons.Danger)
                                                            </span>

                                                            <h5 class="m-l-15" style="font-weight: bold;">@Model.ErrorMessage</h5>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }

                                        @if (Model.IsSuccess != null && Model.IsSuccess.Value)
                                        {
                                            <div class="m-t-40">
                                                <a class="button h-button is-big is-primary is-bold is-raised" style="width: 100%;" asp-controller="Auth" asp-action="Login">Go to login</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="field form-group m-b-20">
                                                <label class="form-label">Email address</label>
                                                <div class="control has-icon has-validation">
                                                    <input type="text" class="input form-control" style="border: 1px solid #bababa" placeholder="Email Address" autocomplete="off" asp-for="EmailAddress" disabled readonly>
                                                    <div class="form-icon">
                                                        <i class="bi bi-person"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field form-group m-b-20">
                                                <label class="form-label">Password</label>
                                                <div class="control has-icon has-validation">
                                                    <input type="password" class="input form-control" placeholder="Password" autocomplete="off" asp-for="NewPassword">
                                                    <div class="form-icon">
                                                        <i class="bi bi-unlock"></i>
                                                    </div>
                                                </div>
                                                <span class="validation-error-span" asp-validation-for="NewPassword"></span>
                                            </div>

                                            <div class="field form-group m-b-20">
                                                <label class="form-label">Confirm Password</label>
                                                <div class="control has-icon has-validation">
                                                    <input type="password" class="input form-control" placeholder="Confirm Password" autocomplete="off" asp-for="NewPasswordAgain">
                                                    <div class="form-icon">
                                                        <i class="bi bi-unlock"></i>
                                                    </div>
                                                </div>
                                                <span class="validation-error-span" asp-validation-for="NewPasswordAgain"></span>
                                            </div>

                                            <div class="m-t-40">
                                                <button type="submit" class="button h-button is-big is-primary is-bold is-raised" style="width: 100%;">Submit</button>
                                            </div>
                                        }
                                    </form>
                                }
                                else
                                {
                                    <div class="alert d-flex flex-column flex-sm-row w-100 border border-dashed border-danger bg-light-danger" style="padding: 1.0rem 1.25rem 1.0rem 1.25rem !important">
                                        <div class="d-flex vertical-center-flex">
                                            <span class="svg-icon svg-icon-danger">
                                                @Html.Raw(SvgIcons.Danger)
                                            </span>

                                            <h5 class="m-l-15" style="font-weight: bold;">@Model.ErrorMessage</h5>
                                        </div>
                                    </div>
                                    
                                    <div class="m-t-40">
                                        <a class="button h-button is-big is-primary is-bold is-raised" style="width: 100%;" asp-controller="Auth" asp-action="Login">Go to login</a>
                                    </div>
                                }
                                
                                <div class="m-t-50" style="display: flex; flex-direction: column; align-items: center; justify-content: center; color: #999999; font-size: 11px;">
                                    <span>ERTIS INC</span>
                                    <span>Copyright © @DateTime.Now.Year</span>
                                    <span>Version @Program.GetEnvironmentParameter("Version")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <partial name="_Scripts" />
    
    @Html.Raw(HtmlTag.Js("lib/huro/js/app.js"))
    @Html.Raw(HtmlTag.Js("lib/huro/js/functions.js"))
    @Html.Raw(HtmlTag.Js("lib/huro/js/main.js"))
</body>
</html>