@using ErtisAuth.Core.Models.Roles
@using ErtisAuth.Hub.Extensions
@model ErtisAuth.Hub.ViewModels.Users.UserViewModel

@{
	var isPermittedForUpdate = this.IsAuthorizedAction("users", Rbac.CrudActionSegments.Update, new RbacSegment(Model.Id));
}

<div class="tab-pane fade show active" id="kt_user_view_overview_tab" role="tabpanel">
	<div class="card mb-6 mb-xl-9">
		<div class="card-header">
			<h3 class="card-title">Profile</h3>
			
			<div class="card-toolbar">
				
			</div>
		</div>
								
		<div class="card-body p-9">
			<form id="UpdateUserForm" method="post" asp-controller="Users" asp-action="Update" asp-route-id="@Model.Id">
				@Html.HiddenFor(x => x.Id)
				@Html.HiddenFor(x => x.MembershipId)
				@Html.HiddenFor(x => x.RoleId)
				@Html.HiddenFor(x => x.Username)
				@Html.HiddenFor(x => x.EmailAddress)
				@Html.HiddenFor(x => x.UbacJson, new { @id = "ubac_json_payload_input" })
				
				<div class="row mb-6">
					<label class="col-lg-2 col-xl-3 col-form-label fw-bold fs-6">Profile Image</label>
					<div class="col-lg-10 col-xl-9">
						<div class="image-input image-input-outline" data-kt-image-input="true">
							<div class="image-input-wrapper w-100px h-100px" style="background-image: url('/img/user-placeholder.png')"></div>

							<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
								<i class="bi bi-pencil-fill fs-7"></i>

								<input type="file" name="avatar" accept=".png, .jpg, .jpeg">
								<input type="hidden" name="avatar_remove">
							</label>

							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
								<i class="bi bi-x fs-2"></i>
							</span>

							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
								<i class="bi bi-x fs-2"></i>
							</span>
						</div>

						<div class="form-text">Allowed file types: png, jpg, jpeg.</div>
					</div>
				</div>

				<div class="row mb-6">
					<label class="col-lg-2 col-xl-3 col-form-label required fw-bold fs-6">Name & Surname</label>
					
					@if (isPermittedForUpdate)
					{
						<div class="col-lg-10 col-xl-9">
							<div class="row">
								<div class="col-lg-6 fv-row fv-plugins-icon-container">
									<input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
								</div>
								<div class="col-lg-6 fv-row fv-plugins-icon-container">
									<input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
								</div>
							</div>
						</div>
					}
					else
					{
						<div class="col-lg-10 col-xl-9">
							<div class="row">
								<div class="col-lg-6 fv-row fv-plugins-icon-container">
									<input type="text" class="form-control" placeholder="First Name" asp-for="FirstName" disabled>
								</div>
								<div class="col-lg-6 fv-row fv-plugins-icon-container">
									<input type="text" class="form-control" placeholder="Last Name" asp-for="LastName" disabled>
								</div>
							</div>
						</div>
					}
				</div>

				<div class="row mb-6">
					<div class="col-lg-2 col-xl-3">
						<label class="col-form-label required fw-bold fs-6">Username</label>
						<span data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Username is not editable">
							<i class="fas fa-exclamation-circle ms-2 fs-7"></i>
						</span>
					</div>

					<div class="col-lg-10 col-xl-9">
						<input type="text" class="form-control form-control-solid" placeholder="Username" value="@Model.Username" disabled>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-lg-2 col-xl-3">
						<label class="col-form-label required fw-bold fs-6">Email</label>
						<span data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Email address is not editable">
							<i class="fas fa-exclamation-circle ms-2 fs-7"></i>
						</span>
					</div>

					<div class="col-lg-10 col-xl-9">
						<input type="text" class="form-control form-control-solid" placeholder="Email Address" value="@Model.EmailAddress" disabled>
					</div>
				</div>

				<div class="row mb-6">
					<div class="col-lg-2 col-xl-3">
						<label class="col-form-label required fw-bold fs-6">Role</label>
					</div>

					<div class="col-lg-10 col-xl-9">
						@if (isPermittedForUpdate)
                        {
	                        <select class="form-control form-select" id="rolesDropdown" asp-for="Role" asp-items="Model.RoleList"></select>
                        }
                        else
                        {
	                        <select class="form-control form-select" id="rolesDropdown" asp-for="Role" asp-items="Model.RoleList" disabled></select>	
                        }
					</div>
				</div>
			</form>
		</div>
	</div>
						
	<!-- Sessions -->
	<partial name="_UserSessionsCard" />
</div>