@model ErtisAuth.Hub.ViewModels.Webhooks.WebhookCreateViewModel

<div id="createWebhookModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createWebhookModalLabel" aria-hidden="true" data-bs-backdrop="static" style="display: none;">
	<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="createWebhookModalLabel" class="modal-title vertical-center-flex">
					<i class="bi bi-broadcast text-primary fs-2x me-4"></i>
					<span>Create Webhook</span>
				</h5>
	            
				<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<i class="bi bi-x-lg"></i>
				</div>
			</div>
            
			<div class="modal-body">
				<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
					<div class="d-flex justify-content-center justify-content-xl-start flex-row-auto w-100 w-xl-200px">
						<div class="stepper-nav ps-lg-10 pt-lg-5">
							<div class="stepper-item current" data-kt-stepper-element="nav">
								<div class="stepper-line w-30px"></div>
						
								<div class="stepper-icon w-30px h-30px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number fs-6">1</span>
								</div>
						
								<div class="stepper-label">
									<h4 class="stepper-title fs-6 mt-2-px mb-0">Set Details</h4>
									<div class="stepper-desc fs-8">Basic informations</div>
								</div>
							</div>
							<div class="stepper-item" data-kt-stepper-element="nav">
								<div class="stepper-line w-30px"></div>
						
								<div class="stepper-icon w-30px h-30px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number fs-6">2</span>
								</div>
						
								<div class="stepper-label">
									<h4 class="stepper-title fs-6 mt-2-px mb-0">Create Request</h4>
									<div class="stepper-desc fs-8">Webhook request</div>
								</div>
							</div>
							<div class="stepper-item" data-kt-stepper-element="nav">
								<div class="stepper-line w-30px"></div>
                            						
								<div class="stepper-icon w-30px h-30px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number fs-6">3</span>
								</div>
                            						
								<div class="stepper-label">
									<h4 class="stepper-title fs-6 mt-2-px mb-0">Complete</h4>
									<div class="stepper-desc fs-8">Summary</div>
								</div>
							</div>
						</div>
					</div>

					<form id="CreateWebhookForm" method="post" asp-controller="Webhooks" asp-action="Create" style="min-width: 890px;">
						@Html.HiddenFor(x => x.RequestHeadersJson, new { @id = "headers_json_input" })
						@Html.HiddenFor(x => x.RequestBody, new { @id = "request_body_json_input" })
                    		
						<div class="w-100 px-20">
							<div class="current" data-kt-stepper-element="content" style="flex-flow: column;">
								<div>
									<div class="row mb-6">
										<div class="col-lg-2 col-xl-3">
											<label class="col-form-label required fw-bold fs-6">Name</label>
										</div>
                                    
										<div class="col-lg-10 col-xl-9">
											<input id="createWebhookForm_NameInput" type="text" class="form-control" placeholder="Name" asp-for="Name">
											<span class="validation-error-span" asp-validation-for="Name"></span>
										</div>
									</div>

									<div class="row mb-6">
										<div class="col-lg-2 col-xl-3">
											<label class="col-form-label fw-bold fs-6">Description</label>
										</div>
                                    
										<div class="col-lg-10 col-xl-9">
											<input id="createWebhookForm_DescriptionInput" type="text" class="form-control" placeholder="Description" asp-for="Description">
											<span class="validation-error-span" asp-validation-for="Description"></span>
										</div>
									</div>

									<div class="row mb-6">
										<div class="col-lg-2 col-xl-3">
											<label class="col-form-label required fw-bold fs-6">Event Type</label>
										</div>
                                    
										<div class="col-lg-10 col-xl-9">
											<select id="eventTypesDropdown" class="form-control form-select" asp-for="EventType" asp-items="Model.EventTypeList"></select>
											<span class="validation-error-span" asp-validation-for="EventType"></span>
										</div>
									</div>
									
									<div class="row mb-6">
										<div class="col-lg-2 col-xl-3">
											<label class="col-form-label required fw-bold fs-6">Try Count</label>
										</div>
                                                                        
										<div class="col-lg-10 col-xl-9">
											@{
												var tryCountSelectList = new[] { 1, 2, 3, 4, 5 }.Select(x => new SelectListItem(x.ToString(), x.ToString()));
											}
											<select id="tryCountDropdown" class="form-control form-select" asp-for="TryCount" asp-items="@tryCountSelectList"></select>
											<span class="validation-error-span" asp-validation-for="TryCount"></span>
										</div>
									</div>

									<div class="form-check form-switch form-check-custom form-check-solid mb-10">
										<div class="col-lg-2 col-xl-3">
											<label class="col-form-label fw-bold fs-6">Is Active</label>
										</div>
                                    							
										<div class="col-lg-10 col-xl-9">
											<div class="vertical-center-flex">
												@Html.CheckBoxFor(m => m.IsActive, new { @id = "isActiveCheckBox", @class = "form-check-input" })
												<label class="form-check-label">
													Is Active
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
                        
							<div data-kt-stepper-element="content">
								<div class="w-100">
									<div class="row mb-6">
										<div class="col-3">
											<label class="form-label required">Method</label>
											<select id="createWebhookForm_RequestMethodDropdown" class="form-control form-select" asp-for="RequestMethod" asp-items="Model.HttpMethods"></select>
										</div>
                                                                        									
										<div class="col-9">
											<label class="form-label required">Url</label>
											<input id="createWebhookForm_RequestUrlInput" type="text" class="form-control" placeholder="Url" asp-for="RequestUrl">
											<span class="validation-error-span" asp-validation-for="RequestUrl"></span>
										</div>
									</div>

									<div class="mb-6">
										<style>
                                            .http-headers-table-container {
                                                border: 1px solid #cfd2d5!important;
                                            }
                                            
                                            .http-headers-table {
                                                border-bottom: 1px solid #cfd2d5!important;
                                            }
                                            
                                            .http-headers-table>thead {
                                                background: #f7f8f9;
                                            }
                                        
                                            .http-headers-table>thead>tr>th {
                                                padding: 0.7em 0.9em !important;
                                                font-weight: 600;
                                                border-right: 1px solid #cfd2d5!important;
                                            }
                                            
                                            .http-headers-table>thead>tr>th:last-child {
                                                padding: 8px !important;
                                                width: 40px;
                                                border-right: none !important;
                                            }
                                            
                                            .http-headers-table>tbody>tr {
                                                border-top: 1px solid #cfd2d5!important;
                                            }
                                            
                                            .http-headers-table>tbody>tr>td {
                                                border-right: 1px solid #cfd2d5!important;
                                            }
                                            
                                            .http-headers-table>tbody>tr>td:first-child {
                                                padding-left: 1.1em !important;
                                            }
                                            
                                            .http-headers-table>tbody>tr>td:last-child {
                                                padding: 8px !important;
                                                width: 40px;
                                                border-right: none !important;
                                            }
                                        </style>
                                                                
										<label class="form-label">Headers</label>
										<div class="http-headers-table-container">
											<table id="headersTable" class="table table-bordered table-hover table-checkable http-headers-table">
												<thead>
												<tr>
													<th>Key</th>
													<th>Value</th>
													<th class="fit-content">
														<button type="button" class="btn btn-icon-xsm btn-light-info" onclick="addHeader()">
															<i class="fas fa-plus fs-6"></i>
														</button>
													</th>
												</tr>
												</thead>
												<tbody>
												<tr>
													<td contenteditable="true"></td>
													<td contenteditable="true"></td>
													<td>
														<button type="button" class="btn btn-icon-xsm btn-light-danger">
															<i class="fas fa-times fs-6"></i>
														</button>
													</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
									
									<div class="mb-6">
										<label class="form-label">Body</label>
										<div class="d-flex btn-group w-100 w-lg-50 mb-4" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button]">
											@{
												var bodyTypes = Enum.GetNames(typeof(ErtisAuth.Core.Models.Webhooks.WebhookRequestBodyType));
											}
											
											@foreach (var bodyType in bodyTypes)
											{
												var isSelected = bodyType == Model.SelectedBodyType;
												var labelClass = isSelected ? "active" : string.Empty;
												
												<label class="btn btn-outline-secondary text-muted text-hover-white text-active-white btn-outline btn-active-success btn-sm @labelClass" data-kt-button="true">
													@if (isSelected)
													{
														<input class="btn-check" type="radio" name="body_name" value="@bodyType.ToLower()" asp-for="SelectedBodyType" checked="checked">
													}
													else
													{
														<input class="btn-check" type="radio" name="body_name" value="@bodyType.ToLower()" asp-for="SelectedBodyType">	
													}
													
													@bodyType
												</label>
											}
										</div>
										
										<div id="webhookRequestBodyEditor" style="width: 100%; height: 240px; margin: 0; padding: 0; overflow: hidden; border: 1px solid #afb2b5!important;"></div>
									</div>
								</div>
							</div>
							
							<div data-kt-stepper-element="content">
								<style>
									.left-column {
										padding-top: 0 !important;
									}
                                									
									.right-column {
										padding-top: 0 !important;
									}
									
									.mini-table>tbody>tr>td {
										vertical-align: top;
									}
									
									.mini-table>tbody>tr>td:last-child {
										overflow-wrap: anywhere;
									}
									
									.mini-table>tbody>tr>td:not(:last-child) {
										padding-right: 40px;
									}
								</style>
								
								<div class="w-100">
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Name</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_Name"></span>
										</div>
									</div>
									
									<div class="separator my-5"></div>

									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Description</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_Description"></span>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Event Type</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_EventType"></span>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Try Count</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_TryCount"></span>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Is Active</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_IsActive"></span>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Request Method</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_RequestMethod"></span>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Request Url</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<span id="createWebhookSummary_RequestUrl"></span>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3 left-column">
											<label class="fw-bold fs-6">Request Headers</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<div id="createWebhookSummary_HeadersTableContainer"></div>
										</div>
									</div>

									<div class="separator my-5"></div>
									
									<div class="row">
										<div class="col-lg-2 col-xl-3">
											<label class="fw-bold fs-6">Request Body</label>
										</div>

										<div class="col-lg-10 col-xl-9 vertical-center-flex right-column">
											<pre id="createWebhookSummary_RequestBody" style="max-height: 240px; background: #fcfcfc; border: 1px solid #d1d1d1; width: 100%;"></pre>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-light btn-sm btn-wide" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-light-primary btn-sm btn-wide stepper-previous">Previous</button>
				<button type="button" class="btn btn-primary btn-sm btn-wide stepper-next">Next</button>
				<button type="submit" class="btn btn-success btn-sm btn-wide stepper-finish" form="CreateWebhookForm">Create</button>
			</div>
		</div>
	</div>
</div>