@using ErtisAuth.Hub.Helpers
@using ErtisAuth.Hub.ViewModels
@model ErtisAuth.Hub.ViewModels.Webhooks.WebhookViewModel

@{
    ViewData["Title"] = "Webhooks";
}

<div class="toolbar" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Webhook Details</h1>
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            
            @{
                var breadcrumb = BreadcrumbBuilder
                    .Add("Home", "Index", "Home")
                    .Add("Webhooks", "Index", "Webhooks")
                    .Add(Model.Id, "Detail", "Webhooks", new { id = Model.Id });
            }
            
            <partial name="Partials/_Breadcrumb" model="@breadcrumb"/>
        </div>
		
        <div class="d-flex align-items-center py-1">
            <partial name="Partials/_AuthorizedButton" model="@AuthorizedButtonViewModel.SaveButton(Model.Id, "webhooks", "UpdateWebhookForm")" />
        </div>
    </div>
</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
	<div id="kt_content_container" class="container-fluid">
        <partial name="Partials/_AlertBox" model="Model" />
        
        <div class="d-flex flex-column flex-lg-row">
            <div class="flex-lg-row-fluid me-10">
	            <div class="card card-bordered mb-5 mb-xl-10">
		            <div class="card-header">
			            <div class="card-title">
				            <div class="d-flex align-items-center position-relative my-1">
					            <h4>Webhook Info</h4>
				            </div>
			            </div>
		            </div>
                                    	
		            <div class="card-body">
			            <form id="UpdateWebhookForm" method="post" asp-controller="Webhooks" asp-action="Update">
				            @Html.HiddenFor(x => x.Id)
				            @Html.HiddenFor(x => x.RequestHeadersJson, new { @id = "headers_json_input" })
				            @Html.HiddenFor(x => x.RequestBody, new { @id = "request_body_json_input" })
				            
				            <div class="px-6 py-5">
					            <div class="row mb-6">
						            <div class="col-lg-2 col-xl-3">
							            <label class="col-form-label required fw-bold fs-6">Name</label>
						            </div>
                            
						            <div class="col-lg-10 col-xl-9">
							            <input id="createWebhookForm_NameInput" type="text" class="form-control" placeholder="Name" asp-for="Name">
							            <span class="validation-error-span" asp-validation-for="Name"></span>
						            </div>
					            </div>
                            
					            <div class="row mb-6">
						            <div class="col-lg-2 col-xl-3">
							            <label class="col-form-label fw-bold fs-6">Description</label>
						            </div>
                            
						            <div class="col-lg-10 col-xl-9">
							            <input id="createWebhookForm_DescriptionInput" type="text" class="form-control" placeholder="Description" asp-for="Description">
							            <span class="validation-error-span" asp-validation-for="Description"></span>
						            </div>
					            </div>
                            
					            <div class="row mb-6">
						            <div class="col-lg-2 col-xl-3">
							            <label class="col-form-label required fw-bold fs-6">Event Type</label>
						            </div>
                            
						            <div class="col-lg-10 col-xl-9">
							            <select class="form-control form-select" id="eventTypesDropdown" asp-for="EventType" asp-items="Model.EventTypeList"></select>
						            </div>
					            </div>
					            
					            <div class="row mb-6">
						            <div class="col-lg-2 col-xl-3">
							            <label class="col-form-label fw-bold fs-6">Is Active</label>
						            </div>

						            <div class="col-lg-10 col-xl-9 vertical-center-flex">
							            <div class="vertical-center-flex form-check form-switch form-check-custom form-check-solid">
								            @Html.CheckBoxFor(m => m.IsActive, new {@class = "form-check-input"})
								            <label class="form-check-label">
									            Is Active
								            </label>
							            </div>
						            </div>
					            </div>
					            
					            <div class="card card-bordered mb-5 mb-xl-10">
						            <div class="card-header">
							            <div class="card-title">
								            <div class="d-flex align-items-center position-relative my-1">
									            <h6>Request</h6>
								            </div>
							            </div>
						            </div>
                                                    
						            <div class="card-body">
							            <div class="row mb-6">
								            <div class="col-3">
									            <label class="form-label required">Method</label>
									            <select class="form-control form-select" asp-for="RequestMethod" asp-items="Model.HttpMethods"></select>
								            </div>
                            									
								            <div class="col-9">
									            <label class="form-label required">Url</label>
									            <input type="url" class="form-control" placeholder="Url" asp-for="RequestUrl">
									            <span class="validation-error-span" asp-validation-for="RequestUrl"></span>
								            </div>
							            </div>
                            								
							            <div class="mb-6">
								            <label class="form-label required">Try Count</label><span class="text-gray-500"> (1 ... 5)</span>
								            <input type="number" class="form-control" placeholder="Try Count" asp-for="TryCount">
								            <span class="validation-error-span" asp-validation-for="TryCount"></span>
							            </div>
                            
							            <div class="mb-6">
								            <style>
												.http-headers-table-container {
													border: 1px solid #cfd2d5!important;
												}
												
												.http-headers-table {
													border-bottom: 1px solid #cfd2d5!important;
												}
												
												.http-headers-table>thead {
													background: #f6f7f8;
												}
											
												.http-headers-table>thead>tr>th {
													padding: 0.7em 0.9em !important;
													font-weight: 600;
													border-right: 1px solid #cfd2d5!important;
												}
												
												.http-headers-table>thead>tr>th:last-child {
													padding: 8px !important;
													width: 40px;
													border-right: none !important;
												}
												
												.http-headers-table>tbody>tr {
													border-top: 1px solid #cfd2d5!important;
												}
												
												.http-headers-table>tbody>tr>td {
													border-right: 1px solid #cfd2d5!important;
												}
												
												.http-headers-table>tbody>tr>td:first-child {
													padding-left: 1.1em !important;
												}
												
												.http-headers-table>tbody>tr>td:last-child {
													padding: 8px !important;
													width: 40px;
													border-right: none !important;
												}
											</style>
                            									
								            <label class="form-label">Headers</label>
								            <div class="http-headers-table-container">
									            <table id="headersTable" class="table table-bordered table-hover table-checkable http-headers-table">
										            <thead>
										            <tr>
											            <th>Key</th>
											            <th>Value</th>
											            <th class="fit-content">
												            <button type="button" class="btn btn-icon-xsm btn-light-info" onclick="addHeader()">
													            <i class="fas fa-plus fs-6"></i>
												            </button>
											            </th>
										            </tr>
										            </thead>
										            <tbody>
										            @if (Model.RequestHeaders != null)
										            {
											            foreach (var (key, value) in Model.RequestHeaders)
											            {
												            <tr>
													            <td contenteditable="true">@key</td>
													            <td contenteditable="true">@value</td>
													            <td>
														            <button type="button" class="btn btn-icon-xsm btn-light-danger">
															            <i class="fas fa-times fs-6"></i>
														            </button>
													            </td>
												            </tr>
											            }
										            }
										            </tbody>
									            </table>
								            </div>
							            </div>
                                                    
							            <div>
								            <label class="form-label">Body</label>
								            <div class="d-flex btn-group w-100 w-lg-50 mb-4" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button]">
									            @{
										            var bodyTypes = Enum.GetNames(typeof(ErtisAuth.Core.Models.Webhooks.WebhookRequestBodyType));
									            }
                                            											
									            @foreach (var bodyType in bodyTypes)
									            {
										            var isSelected = bodyType == Model.SelectedBodyType;
										            var labelClass = isSelected ? "active" : string.Empty;
                                            												
										            <label class="btn btn-outline-secondary text-muted text-hover-white text-active-white btn-outline btn-active-success btn-sm @labelClass" data-kt-button="true">
											            @if (isSelected)
											            {
												            <input class="btn-check" type="radio" name="body_name" value="@bodyType.ToLower()" asp-for="SelectedBodyType" checked="checked">
											            }
											            else
											            {
												            <input class="btn-check" type="radio" name="body_name" value="@bodyType.ToLower()" asp-for="SelectedBodyType">	
											            }
                                            													
											            @bodyType
										            </label>
									            }
								            </div>

								            <div id="webhookRequestBodyEditor" style="width: 100%; height: 240px; margin: 0; padding: 0; overflow: hidden; border: 1px solid #afb2b5!important;"></div>
							            </div>
						            </div>
					            </div>
				            </div>
			            </form>
		            </div>
	            </div>
            </div>

            <div class="flex-column flex-lg-row-auto w-lg-300px w-xl-400px">
                <partial name="Partials/_ResourceDetailsCard" />
            </div>
        </div>
	</div>
</div>