@using ErtisAuth.Hub.Extensions
@model ErtisAuth.Hub.ViewModels.AuthorizedButtonViewModel

@{
    var css = "btn btn-" + Model.CssClass;
    if (Model.IsSmall)
    {
        css += " btn-sm";
    }
    
    if (Model.IsWidest)
    {
        css += " btn-widest";
    }
}

@if (this.IsAuthorizedAction(Model.CollectionName, Model.RbacAction, Model.ResourceId))
{
    if (!string.IsNullOrEmpty(Model.ModalId))
    {
        <button type="button" class="@css" data-bs-toggle="modal" data-bs-target="#@Model.ModalId">
            @if (!string.IsNullOrEmpty(Model.BootstrapIcon))
            {
                <i class="bi bi-@Model.BootstrapIcon"></i>
            }
        
            @Model.Text
        </button>
    }
    else if (!string.IsNullOrEmpty(Model.FormId))
    {
        <button type="submit" class="@css" form="@Model.FormId">
            @if (!string.IsNullOrEmpty(Model.BootstrapIcon))
            {
                <i class="bi bi-@Model.BootstrapIcon"></i>
            }
        
            @Model.Text
        </button>
    }
    else
    {
        <button type="submit" class="@css">
            @if (!string.IsNullOrEmpty(Model.BootstrapIcon))
            {
                <i class="bi bi-@Model.BootstrapIcon"></i>
            }
        
            @Model.Text
        </button>   
    }
}
else if (!Model.HideIfForbidden)
{
    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="You do not have sufficient permissions to perform this action">
        <button type="button" class="@css" style="pointer-events: none;" disabled>
            @if (!string.IsNullOrEmpty(Model.BootstrapIcon))
            {
                <i class="bi bi-@Model.BootstrapIcon"></i>
            }
                
            @Model.Text
        </button>
    </span>
}