@model IEnumerable<BreadcrumbItem>

@if (Model != null && Model.Any())
{
    var breadcrumbItems = Model.ToArray();
    
    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
        @for (var i = 0; i < breadcrumbItems.Length; i++)
        {
            var breadcrumbItem = breadcrumbItems[i];
            if (!string.IsNullOrEmpty(breadcrumbItem.Title))
            {
                <li class="breadcrumb-item text-muted">
                    @if (!string.IsNullOrEmpty(breadcrumbItem.RawUrl))
                    {
                        <a class="text-muted text-hover-primary" href="@breadcrumbItem.RawUrl">@breadcrumbItem.Title</a>
                    }
                    else if (!string.IsNullOrEmpty(breadcrumbItem.Action))
                    {
                        if (!string.IsNullOrEmpty(breadcrumbItem.Controller))
                        {
                            if (breadcrumbItem.RouteParams != null)
                            {
                                <a class="text-muted text-hover-primary" href="@Url.Action(breadcrumbItem.Action, breadcrumbItem.Controller, breadcrumbItem.RouteParams)">@breadcrumbItem.Title</a>
                            }
                            else
                            {
                                <a class="text-muted text-hover-primary" href="@Url.Action(breadcrumbItem.Action, breadcrumbItem.Controller)">@breadcrumbItem.Title</a>   
                            }
                        }
                        else
                        {
                            if (breadcrumbItem.RouteParams != null)
                            {
                                <a class="text-muted text-hover-primary" href="@Url.Action(breadcrumbItem.Action, values: breadcrumbItem.RouteParams)">@breadcrumbItem.Title</a>
                            }
                            else
                            {
                                <a class="text-muted text-hover-primary" href="@Url.Action(breadcrumbItem.Action)">@breadcrumbItem.Title</a>   
                            }
                        }
                    }
                    else
                    {
                        @breadcrumbItem.Title
                    }
                </li>
                
                @if (i < breadcrumbItems.Length - 1)
                {
                    <li class="breadcrumb-item">
                        <i class="bi bi-chevron-right"></i>
                    </li>
                }
            }
        }
    </ul>
}