@using ErtisAuth.Hub.ViewModels
@model ErtisAuth.Hub.ViewModels.IHasSysViewModel

<div class="card card-flush pt-3 mb-0" 
     data-kt-sticky="true" 
     data-kt-sticky-name="subscription-summary" 
     data-kt-sticky-offset="{default: false, lg: '200px'}" 
     data-kt-sticky-width="{lg: '250px', xl: '300px'}" 
     data-kt-sticky-left="auto" 
     data-kt-sticky-top="150px" 
     data-kt-sticky-animation="false" 
     data-kt-sticky-zindex="95">
	<div class="card-header">
		<div class="card-title">
			<h4>Details</h4>
		</div>
	</div>
	
	<div class="card-body pt-0">
		<div class="mb-7">
			@if (Model is IHasIdentifierViewModel hasIdentifier)
            {
	            <span class="fw-bold text-gray-600 text-hover-primary">@hasIdentifier.Id</span>
            }
		</div>
		
		<div class="separator separator-dashed mb-7"></div>
		
		<div class="mb-7">
			@if (Model.Sys.CreatedAt != null)
            {
                <h6 class="fw-bolder mt-5">Created At</h6>
                <div class="text-gray-600">@Model.Sys.CreatedAt</div>
            }

            @if (!string.IsNullOrEmpty(Model.Sys.CreatedBy))
            {
                <h6 class="fw-bolder mt-5">Created By</h6>
                <div class="text-gray-600">@Model.Sys.CreatedBy</div>
            }
		</div>
		
		<div class="separator separator-dashed mb-7"></div>
		
		<div class="mb-10">
			@if (Model.Sys.ModifiedAt != null)
            {
                <h6 class="fw-bolder mt-5">Modified At</h6>
                <div class="text-gray-600">@Model.Sys.ModifiedAt</div>
            }

            @if (!string.IsNullOrEmpty(Model.Sys.ModifiedBy))
            {
                <h6 class="fw-bolder mt-5">Modified By</h6>
                <div class="text-gray-600">@Model.Sys.ModifiedBy</div>
            }
		</div>
	</div>
</div>