@using ErtisAuth.Hub.Services.Interfaces
@inject ISessionService sessionService
@{
	var sessionUser = sessionService.GetSessionUser();
}

@using ErtisAuth.Hub.Helpers
<div id="user_panel" 
     class="bg-body" 
     data-kt-drawer="true" 
     data-kt-drawer-name="user_panel" 
     data-kt-drawer-activate="true" 
     data-kt-drawer-overlay="true" 
     data-kt-drawer-width="{default:'270px', 'md': '320px'}" 
     data-kt-drawer-direction="end" 
     data-kt-drawer-toggle="#user_panel_toggle" 
     data-kt-drawer-close="#user_panel_close">
	<div class="card w-100 rounded-0 border-0">
		<div class="card-header pe-2" style="padding-left: 1.25rem; height: 66px !important;">
			<div class="card-title">
				<div class="symbol symbol-30px symbol-md-40px me-3">
					<img src="~/img/user-placeholder.png" alt="user"/>
				</div>
				
				<div class="d-flex justify-content-center flex-column me-3">
					<a href="/users/@sessionUser.UserId" class="fs-4 fw-bolder text-gray-900 text-hover-primary mt-1 me-1 lh-1">@sessionUser.FullName</a>

					<div class="mt-1 mb-0 lh-1">
						<span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
						<span class="fs-7 fw-bold text-muted">Active</span>
					</div>
				</div>
			</div>
	
			<div class="card-toolbar">
				<div id="user_panel_close" class="btn btn-sm btn-icon btn-active-light-primary">
					<span class="svg-icon svg-icon-2">
						@Html.Raw(SvgIcons.TimesSquare)
					</span>
				</div>
			</div>
		</div>

		<div class="card-body pt-5">
			<div class="d-flex align-items-sm-center mb-3">
				<span class="me-6" style="background: #ececf3; padding: 8px 8px 6px 8px; border-radius: 4px;">
					<i class="fas fa-user-alt fs-5"></i>
				</span>
				
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<div class="flex-grow-1 me-2">
						<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Username</a>
						<span class="text-muted fw-bold d-block fs-7">@sessionUser.Username</span>
					</div>
				</div>
			</div>
			
			<div class="d-flex align-items-sm-center mb-3">
				<span class="me-6" style="background: #ececf3; padding: 8px 8px 6px 8px; border-radius: 4px;">
					<i class="fas fa-envelope fs-5"></i>
				</span>
            				
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<div class="flex-grow-1 me-2">
						<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Email</a>
						<span class="text-muted fw-bold d-block fs-7">@sessionUser.Email</span>
					</div>
				</div>
			</div>
			
			<div class="d-flex align-items-sm-center mb-3">
				<span class="me-6" style="background: #ececf3; padding: 8px 8px 6px 8px; border-radius: 4px;">
					<i class="fas fa-shield-alt fs-5"></i>
				</span>
            				
				<div class="d-flex align-items-center flex-row-fluid flex-wrap">
					<div class="flex-grow-1 me-2">
						<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Role</a>
						<span class="text-muted fw-bold d-block fs-7">@sessionUser.Role</span>
					</div>
				</div>
			</div>
			
			<partial name="Partials/_SessionTracker" />
		</div>

		<div class="card-footer" style="background: #fafafa; border-top: 1px solid #cfd2d5;">
			<div class="d-grid gap-2">
				<div class="btn-group" role="group">
					<a class="btn btn-sm btn-warning" asp-controller="Auth" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path">
						<i class="fas fa-sign-out-alt fs-4 me-2"></i> Logout
					</a>
                            
					<div class="btn-group" role="group">
						<button id="logoutDropdown" type="button" class="btn btn-sm btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul class="dropdown-menu" aria-labelledby="logoutDropdown">
							<li>
								<a class="dropdown-item" asp-controller="Auth" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path" asp-route-logoutOfAllDevices="true">Logout of all devices</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>