@using ErtisAuth.Hub.Helpers
@using ErtisAuth.Hub.ViewModels
@model ErtisAuth.Hub.ViewModels.Memberships.MembershipsViewModel

@{
    ViewData["Title"] = "Memberships";
}

@{
	var bulkDeleteViewModel = Model.GetBulkDeleteViewModel();
}

<div class="toolbar" id="kt_toolbar">
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Memberships</h1>
			<span class="h-20px border-gray-200 border-start mx-4"></span>
			
			@{
				var breadcrumb = BreadcrumbBuilder
					.Add("Home", "Index", "Home")
					.Add("Memberships", "Index", "Memberships");
			}
			
			<partial name="Partials/_Breadcrumb" model="@breadcrumb"/>
		</div>
		
		<div class="d-flex align-items-center py-1">
			<partial name="Partials/_AuthorizedButton" model="@AuthorizedButton.CreateButton("createMembershipModal", "memberships")" />
		</div>
	</div>
</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
	<div id="kt_content_container" class="container-fluid">
		<partial name="Partials/_AlertBox" model="Model" />
		
		<div class="card">
			<div class="card-header border-0 pt-6">
				<div class="card-title">
					<div class="d-flex align-items-center position-relative my-1">
						<span class="svg-icon svg-icon-1 position-absolute ms-6">
							@Html.Raw(SvgIcons.Search)
						</span>
						<input id="membershipsTableSearchBox" type="search" class="form-control form-control-solid w-400px ps-14" placeholder="Search membership" aria-controls="memberships_data_table" />
					</div>
				</div>

				<div class="card-toolbar">
					<partial name="Partials/_BulkDeleteModalButton" model="@bulkDeleteViewModel" />
				</div>
			</div>

			<div class="card-body pt-0">
				<table id="memberships_data_table" class="table align-middle table-row-dashed fs-6 gy-5">
					<thead>
					<tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
						<th class="w-10px pe-2">
							<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
								<input class="form-check-input select-all-multi-select-checkbox" type="checkbox" value="1" />
							</div>
						</th>
						<th class="min-w-125px">Name</th>
						<th class="min-w-125px">Created</th>
						<th class="min-w-125px">Modified</th>
						<th class="text-end min-w-100px"></th>
					</tr>
					</thead>

					<tbody class="text-gray-600 fw-bold">

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<partial name="_CreateMembershipModal" model="@Model.CreateViewModel" />
<partial name="Partials/_DeleteModal" model="@Model.GetDeleteViewModel()" />
<partial name="Partials/_BulkDeleteModal" model="@bulkDeleteViewModel" />