@using ErtisAuth.Hub.Helpers
@using System.Globalization
@using System.Web
@using Newtonsoft.Json
@model ErtisAuth.Hub.ViewModels.Events.EventDetailViewModel

@{
    ViewData["Title"] = "Events";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let targetElement = document.getElementById('jsonDiffElement');
        let configuration = {
            inputFormat: 'json',
            drawFileList: true,
            fileListToggle: false,
            fileListStartVisible: false,
            fileContentToggle: false,
            matching: 'lines',
            outputFormat: 'side-by-side',
            synchronisedScroll: true,
            highlight: true,
            renderNothingWhenEmpty: false,
        };
        
        let json1 = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Prior != null ? Newtonsoft.Json.JsonConvert.SerializeObject(Model.Prior, Formatting.Indented) : string.Empty))';
        let json2 = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Document != null ? Newtonsoft.Json.JsonConvert.SerializeObject(Model.Document, Formatting.Indented) : string.Empty))';
        
        const diff = Diff.createTwoFilesPatch(
            "@Model.Id",
            "@Model.Id",
            json1,
            json2
          );
        
        let diff2htmlUi = new Diff2HtmlUI(targetElement, diff, configuration);
        diff2htmlUi.draw();
        diff2htmlUi.highlightCode();
    });
</script>

<div class="toolbar" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Event Details</h1>
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            
            @{
                var breadcrumb = BreadcrumbBuilder
                    .Add("Home", "Index", "Home")
                    .Add("Events", "Index", "Events")
                    .Add(Model.Id, "Detail", "Events", new { id = Model.Id });
            }
            
            <partial name="Partials/_Breadcrumb" model="@breadcrumb"/>
        </div>
		
        <div class="d-flex align-items-center py-1">
            
        </div>
    </div>
</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
	<div id="kt_content_container" class="container-fluid">
        <partial name="Partials/_AlertBox" model="Model" />
        
        <div class="d-flex flex-column flex-lg-row">
            <div class="flex-lg-row-fluid me-10">
	            <div class="card card-bordered mb-5 mb-xl-10">
		            <div class="card-header ribbon">
			            <div class="card-title">
				            <div class="d-flex align-items-center position-relative my-1">
					            <h4>@Model.Type</h4>
				            </div>
			            </div>
			            
			            <div class="card-toolbar">
				            
			            </div>
			            
			            <div class="ribbon-label bg-primary">
				            @Model.EventTime.ToString(CultureInfo.InvariantCulture)
			            </div>
		            </div>
                                                    	
		            <div class="card-body">
			            <div id="jsonDiffElement"></div>
		            </div>
	            </div>
            </div>

            <div class="flex-column flex-lg-row-auto w-lg-300px w-xl-400px">
	            <div class="card card-bordered mb-5 mb-xl-10">
		            <div class="card-header ribbon" style="padding: 0 1.55rem;">
			            <div class="card-title">
				            <div class="d-flex align-items-center position-relative my-1">
					            <h4>Utilizer</h4>
				            </div>
			            </div>
                			            
			            <div class="card-toolbar">
				            @if (Model.User != null)
				            {
					            <a class="btn btn-light btn-sm" target="_blank" asp-controller="Users" asp-action="Detail" asp-route-id="@Model.User.Id">Go to user</a>
				            }
				            else if (Model.Application != null)
				            {
					            <a class="btn btn-light btn-sm" target="_blank" asp-controller="Applications" asp-action="Detail" asp-route-id="@Model.Application.Id">Go to application</a>
				            }
			            </div>
		            </div>
                                                                    	
		            <div class="card-body p-5">
			            @if (Model.User != null)
                        {
                            <table class="table table-striped table-rounded border table-row-bordered table-hover gs-7 gy-5 gx-7">
                                <tbody>
                                    <tr>
                                        <td>Id</td>
                                        <td>@Model.Id</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>@Model.User.FirstName</td>
                                    </tr>
                                    <tr>
                                        <td>Surname</td>
                                        <td>@Model.User.LastName</td>
                                    </tr>
                                    <tr>
                                        <td>Username</td>
                                        <td>@Model.User.Username</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Model.User.EmailAddress</td>
                                    </tr>
                                    <tr>
                                        <td>Role</td>
                                        <td>@Model.User.Role</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else if (Model.Application != null)
                        {
                            <table class="table table-striped table-rounded border table-row-bordered table-hover gs-7 gy-5 gx-7">
                                <tbody>
                                    <tr>
                                        <td>Id</td>
                                        <td>@Model.Id</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>@Model.Application.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Role</td>
                                        <td>@Model.Application.Role</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
	                        <div class="alert alert-danger d-flex align-items-center p-5 mb-10">
		                        <span class="svg-icon svg-icon-2hx svg-icon-danger me-4">
			                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				                        <path opacity="0.3" d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z" fill="black"></path>
				                        <path d="M10.5606 11.3042L9.57283 10.3018C9.28174 10.0065 8.80522 10.0065 8.51412 10.3018C8.22897 10.5912 8.22897 11.0559 8.51412 11.3452L10.4182 13.2773C10.8099 13.6747 11.451 13.6747 11.8427 13.2773L15.4859 9.58051C15.771 9.29117 15.771 8.82648 15.4859 8.53714C15.1948 8.24176 14.7183 8.24176 14.4272 8.53714L11.7002 11.3042C11.3869 11.6221 10.874 11.6221 10.5606 11.3042Z" fill="black"></path>
			                        </svg>
		                        </span>
		                        
		                        <div class="d-flex flex-column">
			                        <h4 class="mb-1 text-danger">Utilizer not found</h4>
			                        <span>This event object is not contains a utilizer info</span>
		                        </div>
	                        </div>
                        }
		            </div>
	            </div>
            </div>
        </div>
	</div>
</div>